/* body { */
    /* background-color: darkgray;  */
    /* color: white; */
    /* font-family: Arial, sans-serif; */
    /* text-align: center; */
    /* padding: 0px; */
    /* margin: 0; */
    /* padding-left: 100px; */
/* } */

.location{
    padding-top: 100px;
    padding-left: 400px;
    padding-right: 400px;
    padding-bottom: 400px;
    display: flex;
    justify-content: center;
   
    background-image: url('https://images.pexels.com/photos/5699456/pexels-photo-5699456.jpeg?auto=compress&cs=tinysrgb&w=600');
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
   
}
/* .container { */
    /* display: flex; */
    /* justify-content: center;
    align-items: center; */
    /* height: 40vh;
    width: 50%;
    border-radius: 20px; */
    /* background-color: azure;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5); */
/* } */

h1 {
    color: white;

}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin: 10px;
}
button {
    background-color: cadetblue;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    
}
button:hover {
    background-color: #0057b3;
}

